<div class="card card-event">
  <h4><%= 'Tag'.pluralize(@tags.count) %>:</h4>
  <p>
    <% @tags.map do |tag| %>
      <%= link_to tag.name, tag_path(tag), class: "button" %>
    <% end %>
  </p>
</div>
