/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
   padding-top: 70px;
   padding-bottom: 30px;
 }

 * {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
 }

 .pic, .info {
     padding: 20px;
     display: inline-block;
     background-color: #EEEEEE;
     border-radius: 7px;
     vertical-align: middle;
     margin: 10px;
 }

 .center-card {
     float: left;
     position: relative;
     margin: 5px;
     padding: 20px;
 }

// event panel
.card .panel-heading {
  height: 180px;
}
.card .panel-body {
  height: 200px;
  overflow: hidden;
}

// event img
img {
  vertical-align: middle;
}
.card_photo {
  max-height: 100%;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.card_photo_placeholder {
  background-image: image-url("image-placeholder.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 180px;
}

 .button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
}

.button:hover {
    background-color: #606060;
    color: white;
}

.confirm {
  background-color: #4CAF50;
}

.cancel {
  background-color: #F44336;
}

.form {
  text-align: left;
  height: auto;
}
